.web {
  position: relative;
}

.board {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board-form {
  margin-top: 16px;
}

.board-input {
  height: 20vh;
  width: 40vw;
}

.board-summit {
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
}

.board-list {
  position: relative;
  margin-top: 15px;
  min-width: 250px;
  max-width: 600px;
  word-break: break-word;
}

.MSG-head {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color: #8b6751;
}

.MSG-container {
  border: solid;
  margin-top: 12px;
  padding: 8px 16px;
  border-radius: 8px;
}

.MSG-content {
  margin-top: 10px;
  font-weight: 450;
}