.web {
  position: relative;
}

.board {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board-form {
  margin-top: 16px;
}

.board-input {
  height: 30vh;
  width: 30vw;
}

.board-summit {
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
}

.board-list {
  position: relative;
  margin-top: 15px;
  border: solid;
  min-width: 250px;
}

.MSG-head {
  display: flex;
  justify-content: space-between;
}