.web {
  position: relative;
}

.board {
  height: 100vh;
  width: 100vw;
  justify-content: center;
}
.board-form {
  margin-top: 16px;
}

.board-input {
  height: 18vh;
  width: 18vw;
}

.board-summit {
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
}

.board-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border: solid;
  max-width: 300px;
}

.MSG-head {
  display: flex;
  justify-content: space-between;
}